<div class="app-container d-flex flex-column w-100 align-items-center justify-content-center">

  <div class="app d-flex flex-column w-100 h-100 {{deviceType}}">

    <div class="d-flex flex-column w-100 sticky-top" [ngClass]="{'scanner-on':scannerOn()}">

      <div *ngIf="selectedProducts.length>0" class="d-flex justify-content-between align-items-center w-100 px-4 alert alert-warning comparison-alert m-0">
        <div class="fs-5"><span class="fw-bold">{{selectedProducts.length}}</span>/{{maxSelectableProducts()}} products to compare</div>
        <div>
          <button class="button" class="btn btn-link btn-sm me-2" (click)="selectedProducts=[]">Clear comparation</button>
          <button type="button" class="btn btn-secondary btn-sm" [disabled]="selectedProducts.length<2" (click)="viewComparator()">Open comparator</button>
        </div>
      </div>

      <div class="d-flex flex-column w-100">
        <ng-container *ngIf="scannerOn()">
          <div class="scanner-container d-flex flex-fill p-3 w-100" [ngClass]="{'product-found': productFound}">
              <input
                #barcodeInput
                type="text"
                class="barcode-input form-control ps-4"
                placeholder="Enter product barcode"
                style="border-bottom-right-radius: 0;border-top-right-radius: 0;"
                (paste)="findProduct()"
                (change)="findProduct()"
                [(ngModel)]="barcode"
              />
              <button type="button" class="btn btn-sm btn-secondary d-flex align-items-center" style="border-bottom-left-radius: 0;border-top-left-radius: 0;" (click)="openScanner()"><i class="fas fa-barcode me-2"></i>Scan</button>
              <button type="button" class="btn btn-sm btn-light d-flex align-items-center ms-2" (click)="toggleScanner()">Cancel</button>
          </div>

          <ng-container *ngIf="productFound">
            <div class="product-found-container d-flex justify-content-start align-items-center p-3 fs-5">
              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                  <i class="fas fa-check text-success mx-2" *ngIf="!repeatedProduct()"></i>
                  <div class="d-flex ps-2"><span class="fw-bold me-2">{{productFound.product_name}}</span> ({{productFound.brands}})</div>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                  <ng-container *ngIf="repeatedProduct()">
                    <div class="d-flex align-items-center ms-2 fs-7">
                      <i class="fas fa-exclamation-circle text-danger me-2"></i>Duplicated product!
                    </div>
                  </ng-container>
                  <button class="btn btn-sm btn-danger ms-3" [disabled]="!productFound || repeatedProduct()" (click)="addProduct()">Add</button>
                </div>
              </div>
            </div>
          </ng-container>

        </ng-container>
      </div>

      <ng-container *ngIf="!scannerOn()">
        <div class="sort-container d-flex w-100 pt-3 px-3 gap-2" [ngClass]="{'semi-transparent': scannerOn()}">
          <input class="form-control ps-4" [disabled]="products.length===0" placeholder="Search..." type="text" #searchInput [(ngModel)]="searchtext">
          <ng-select
            [items]="sortByItems"
            bindLabel="label"
            bindValue="field"
            placeholder="Sort by"
            clearable="false"
            (ngModelChange)="sortBy($event)"
            [(ngModel)]="sortByField">
            <ng-template ng-label-tmp let-item="item">
              Sort by: <strong>{{ item.label }}</strong>
            </ng-template>
          </ng-select>
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center w-100 p-3" [ngClass]="{'semi-transparent': scannerOn()}">
          <div class="menu-container d-flex justify-content-start w-100 gap-1">
            <ng-container *ngIf="deviceType!=='mobile'">
              <button title="Grid mode" class="btn btn-sm btn-secondary" [disabled]="displayMode==='GRID'" [ngClass]="{'btn-light active': displayMode==='GRID'}" (click)="displayMode='GRID'"><i class="fas fa-grip"></i></button>
              <button title="List mode" class="btn btn-sm btn-secondary" [disabled]="displayMode==='LIST'" [ngClass]="{'btn-light active': displayMode==='LIST'}" (click)="displayMode='LIST'"><i class="fas fa-list-ul"></i></button>
            </ng-container>
          </div>
          <button class="d-flex align-items-center btn btn-secondary ms-2" [disabled]="scannerOn()" (click)="productFound=undefined;toggleScanner()"><i class="fas fa-plus me-1"></i> New</button>
        </div>
      </ng-container>

      
    </div>
    
    <div class="d-flex flex-column w-100 flex-wrap justify-content-start w-100 p-3 products-container" *ngIf="products.length>0" [ngClass]="{'semi-transparent': scannerOn()}">

      <div class="d-flex flex-wrap justify-content-start w-100 gap-2">
        <ng-container *ngIf="infoText && infoText.length>0">
          <div class="badge badge-info p-2 d-flex w-100">{{infoText}}</div>
        </ng-container>
        <ng-container *ngFor="let p of products">
          <ng-container [ngTemplateOutlet]="productCard" [ngTemplateOutletContext]="{p}"></ng-container>
        </ng-container>
      </div>

    </div>
    
  </div>
</div>

<!-- Product card template -->
<ng-template let-p="p" #productCard>
    <div class="card card-item flex-item shadow-sm" [ngClass]="{
        'LIST': displayMode==='LIST',
        'transparent_0_8': selectedProducts.length>0 && !isCompared(p), 
        'transparent_0_2':selectedRemovalProduct && selectedRemovalProduct._id!==p._id, 
        'compared': isCompared(p)
      }" *ngIf="matchesSearch(p)">

      <ng-container *ngIf="displayMode==='GRID'">
        <img (click)="viewProduct(p)" [src]="p.image_thumb_url" class="card-img-top cursor-pointer" [title]="(p.product_name)?capitalizeFirst(p.product_name) : capitalizeFirst(p.brands)" loading="lazy" decoding="async">
      </ng-container>

      <div class="card-body d-flex flex-column p-2">

        <div class="d-flex justify-content-between w-100">

          <ng-container *ngIf="displayMode==='LIST'">
            <div class="d-flex w-20 justify-content-center mb-1 cursor-pointer" [ngClass]="{'w-40': deviceType==='mobile'}" (click)="viewProduct(p)">
              <img (click)="viewProduct(p)" [src]="p.image_thumb_url" class="card-img-top cursor-pointer" [title]="(p.product_name)?capitalizeFirst(p.product_name) : capitalizeFirst(p.brands)" loading="lazy" decoding="async">
            </div>
          </ng-container>

          <div class="d-flex flex-column" [ngClass]="{'w-80': displayMode==='LIST', 'w-100': displayMode==='GRID', 'w-60': deviceType==='mobile'}">
            <div class="d-flex justify-content-between align-items-center w-100 cursor-pointer" (click)="viewProduct(p)">
              <div class="d-flex justify-content-start w-100">
                <h5 [title]="(p.product_name)?capitalizeFirst(p.product_name) : capitalizeFirst(p.brands)" class="card-title capitalize-first w-90 cursor-pointer mb-0" [ngClass]="{'text-truncate':displayMode==='GRID'}">
                  {{ p.product_name? capitalizeFirst(p.product_name) : capitalizeFirst(p.brands) }}
                </h5>
              </div>
              <div class="nutriscore-grade text-uppercase {{p.nutriscore_grade}}" [title]="'Nutriscore ' + getNutriscoreText(p.nutriscore_grade)" *ngIf="p.nutriscore_grade && p.nutriscore_grade!=='unknown' && p.nutriscore_grade.length===1">{{p.nutriscore_grade}}</div>
            </div>
            
            <div class="d-flex w-100 justify-content-between mb-1 cursor-pointer" [ngClass]="{'my-2':displayMode==='LIST'}" (click)="viewProduct(p)">
              <span class="card-text text-truncate">{{ capitalizeFirst(p.brands) }}</span>
              <span><small>{{p.product_quantity}} {{p.product_quantity_unit}}</small></span>
            </div>  
          </div>
          
        </div>

        <div class="card-actions d-flex justify-content-end align-items-center gap-1 w-100 mt-1 pt-2">
          <ng-container *ngIf="selectedRemovalProduct?._id===p._id">
            <div class="d-flex justify-content-end align-items-center">
              <button class="btn btn-sm btn-outline-danger me-1" (click)="selectedRemovalProduct=undefined">Cancel</button>
              <button class="btn btn-sm btn-danger" (click)="removeProduct(p._id);selectedRemovalProduct=undefined;">Confirm delete</button>
            </div>
          </ng-container>
          <ng-container *ngIf="selectedRemovalProduct && selectedRemovalProduct._id!==p._id">
            <div class="d-flex justify-content-end align-items-center">
              <button class="btn btn-sm transparent_0_8">&nbsp;</button>
            </div>
          </ng-container>

          <ng-container *ngIf="!selectedRemovalProduct">
            
            <div class="d-flex align-items-center justify-content-between w-100">
              <div class="d-flex justify-content-start align-items-center">
                <ng-container *ngIf="p.prices?.length>0">
                  <span class="badge rounded-pill bg-light text-dark price fs-6" (click)="openProductPrices(p)">{{ p.prices[0].price | number:'1.2-2' }}<i  class="fas fa-euro ms-1"></i></span>
                </ng-container>
                <ng-container *ngIf="!p.prices || p.prices.length===0">
                  <span class="badge rounded-pill bg-light text-dark price fs-6" (click)="openProductPrices(p)"><i  class="fas fa-plus"></i></span>
                </ng-container>
              </div>
              <div class="d-flex justify-content-end align-items-center gap-2">
                <button *ngIf="!isCompared(p)" class="btn btn-sm btn-outline-danger" (click)="selectedRemovalProduct=p"><i class="fas fa-trash"></i></button>
                <button *ngIf="deviceType!=='mobile'" class="btn btn-sm" [disabled]="!isCompared(p) && selectedProducts.length===maxSelectableProducts()" (click)="toggleCompare(p)" [ngClass]="{'btn-secondary':isCompared(p), 'btn-outline-secondary':!isCompared(p)}">{{(isCompared(p))?'No compare':'Compare'}}</button>
              </div>
            </div>
            
          </ng-container>
        </div>
      </div>
    </div>
</ng-template>

<!-- Bootstrap Modals -->

<!-- Product prices Modal -->
<div class="modal fade" tabindex="-1" #pricesModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between align-items-center w-100">
        <h5 class="modal-title capitalize-first">{{selectedProductPrices?.product_name}}</h5>
        <i class="fas fa-close text-light cursor-pointer fs-3" (click)="closeModal();selectedProductPrices=undefined;"></i>
      </div>
      <div class="modal-body p-0">
        <ng-container *ngIf="selectedProductPrices">
          <div style="height: 350px;" class="d-flex flex-column w-100">
              <table class="table table-border table-hover w-100">
                <thead>
                  <tr>
                    <th>
                      <div class="d-flex justify-content-start align-items-center cursor-pointer ps-2" (click)="sortPriceBy('date')">
                        <span [ngClass]="{'text-underline': sortPriceByField==='date'}">Date</span>
                      </div>
                    </th>
                    <th>
                      <div class="d-flex justify-content-start align-items-center cursor-pointer ps-2" (click)="sortPriceBy('commerceName')">
                        <span [ngClass]="{'text-underline': sortPriceByField==='commerceName'}">Commerce</span>
                      </div>
                    </th>
                    <th>
                      <div class="d-flex justify-content-end align-items-center cursor-pointer pe-2" (click)="sortPriceBy('price')">
                        <span [ngClass]="{'text-underline': sortPriceByField==='price'}">Price</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let productPrice of selectedProductPrices?.prices">
                    <tr>
                      <td class="text-start ps-2">{{productPrice.date | date: 'dd.MM.yyyy - HH:mm'}}</td>
                      <td class="ps-2">{{productPrice.commerceName}}</td>
                      <td class="text-end pe-2">{{productPrice.price | number:'1.2-2'}} €</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal();selectedProductPrices=undefined;">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Scanner Modal -->
<div class="modal fade" tabindex="-1" #scannerModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Scan product barcode</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="scannerOn()">
          <div style="height: 350px;" class="d-flex flex-column w-100">
              <app-barcode-scanner (onCodeChange)="codeChanged($event)"></app-barcode-scanner>
              <div class="w-100 d-flex flex-column justify-content-center align-items-center" *ngIf="productFound">
                <strong class="me-2 fs-4"><i class="fas fa-check text-success me-2"></i>{{productFound.product_name}}</strong>
                <span class="fs-5">({{capitalizeFirst(productFound.brands)}})</span>
              </div>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button class="btn btn-success" (click)="selectBarcode();closeModal();" [disabled]="barcodeTemp.length===0">Select</button>
      </div>
    </div>
  </div>
</div>

<!-- Detail Modal -->
<div class="modal fade" tabindex="-1" id="productModal" #productModal>
  <div class="modal-dialog {{deviceType}}">
    <div class="modal-content {{deviceType}}">
      <div class="modal-header {{deviceType}}">
        <div class="d-flex justify-content-between align-items-center w-100">
          <h5 class="modal-title text-truncate capitalize-first pe-2" [title]="selectedProduct?.product_name ? capitalizeFirst(selectedProduct?.product_name) : capitalizeFirst(selectedProduct?.brands)">{{selectedProduct?.product_name || selectedProduct?.brands}}</h5>
          <div class="d-flex justify-content-end align-items-center gap-1">
            <ng-container *ngIf="selectedProduct && selectedProduct.nutriscore_grade">
              <div class="nutriscore-grade text-uppercase {{selectedProduct.nutriscore_grade}}" [title]="'Nutriscore ' + getNutriscoreText(selectedProduct.nutriscore_grade)" *ngIf="selectedProduct.nutriscore_grade && selectedProduct.nutriscore_grade!=='unknown' && selectedProduct.nutriscore_grade.length===1">{{selectedProduct.nutriscore_grade}}</div>
            </ng-container>
            <i class="fas fa-close ms-2 fs-2" (click)="closeModal();selectedProduct=undefined;"></i>
          </div>
        </div>
      </div>
      <div class="modal-body {{deviceType}}" [ngClass]="{'p-0': deviceType==='mobile'}">
        <ng-container *ngIf="selectedProduct">

          <!-- No mobile -->
          <ng-container *ngIf="deviceType!=='mobile'">
            <table class="table table-hover table-sm">
              <tbody>
                <tr class="py-2">
                  <td>Brand</td>
                  <td colspan="2" class="text-start"><div class="capitalize-first" [innerHTML]="getProductAttrValue(selectedProduct, ['brands'])"></div></td>
                </tr>
                <tr class="py-2">
                  <td>URL</td>
                  <td colspan="2" class="text-start">
                    <ng-container *ngIf="selectedProduct.link && selectedProduct.link.length>0">
                      <div style="width: 290px;" class="text-truncate">
                        <a [title]="selectedProduct.link"  [href]="selectedProduct.link" target="_blank">{{selectedProduct.link}}</a>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="!selectedProduct.link || selectedProduct.link.length===0">
                      <span>-</span>
                    </ng-container>
                  </td>
                </tr>
                <tr class="py-2">
                  <td>Origin</td>
                  <td colspan="2" class="text-start"><div [innerHTML]="getProductAttrValue(selectedProduct, ['countries'])"></div></td>
                </tr>
                <tr class="py-2">
                  <td>Packaging</td>
                  <td colspan="2" class="text-start"><div class="text-truncate" [innerHTML]="getProductAttrValue(selectedProduct, ['packaging'])"></div></td>
                </tr>

                <tr class="py-2">
                  <td colspan="3" class="separator transparent"></td>
                </tr>

                <tr>
                  <td class="py-2">Fat</td>
                  <td colspan="2"><span [ngClass]="{'text-danger':selectedProduct.nutrient_levels?.fat==='high', 'text-warning':selectedProduct.nutrient_levels?.fat==='moderate', 'text-success':selectedProduct.nutrient_levels?.fat==='low'}">{{selectedProduct.nutrient_levels?.fat?capitalizeFirst(selectedProduct.nutrient_levels?.fat):'-'}}</span></td>
                </tr>
                <tr class="py-2">
                  <td>Satured fat</td>
                  <td colspan="2"><span [ngClass]="{'text-danger':selectedProduct.nutrient_levels && selectedProduct.nutrient_levels['saturated-fat']==='high', 'text-warning':selectedProduct.nutrient_levels && selectedProduct.nutrient_levels['saturated-fat']==='moderate', 'text-success':selectedProduct.nutrient_levels && selectedProduct.nutrient_levels['saturated-fat']==='low'}">{{(selectedProduct.nutrient_levels && selectedProduct.nutrient_levels['saturated-fat'])?capitalizeFirst(selectedProduct.nutrient_levels['saturated-fat']):'-'}}</span></td>
                </tr>
                <tr class="py-2">
                  <td>Salt</td>
                  <td colspan="2"><span [ngClass]="{'text-danger':selectedProduct.nutrient_levels?.salt==='high', 'text-warning':selectedProduct.nutrient_levels?.salt==='moderate', 'text-success':selectedProduct.nutrient_levels?.salt==='low'}">{{(selectedProduct.nutrient_levels?.salt)?capitalizeFirst(selectedProduct.nutrient_levels?.salt):'-'}}</span></td>
                </tr>
                <tr class="py-2">
                  <td>Sugars</td>
                  <td colspan="2"><span [ngClass]="{'text-danger':selectedProduct.nutrient_levels?.sugars==='high', 'text-warning':selectedProduct.nutrient_levels?.sugars==='moderate', 'text-success':selectedProduct.nutrient_levels?.sugars==='low'}">{{(selectedProduct.nutrient_levels?.sugars)?capitalizeFirst(selectedProduct.nutrient_levels?.sugars):'-'}}</span></td>
                </tr>

                <tr class="py-2">
                  <td colspan="3" class="separator transparent"></td>
                </tr>

                <tr class="py-2">
                  <td>Ingredients</td>
                  <td [attr.colspan]="(selectedProduct.ingredients && selectedProduct.ingredients.length>0)?1:2" class="text-start"><div [innerHTML]="getProductAttrValue(selectedProduct, ['ingredients'])"></div></td>
                  <td class="p-0" *ngIf="selectedProduct.ingredients && selectedProduct.ingredients.length>0">
                    <div class="h-100 w-100 chart-container">
                      <highcharts-chart
                        *ngIf="chartOptions.singleProductIngredients.built"
                        [Highcharts]="Highcharts"
                        [options]="chartOptions.singleProductIngredients.options"
                        style="width:100%; max-height:392px; height:100%; display:block;"
                      ></highcharts-chart>
                    </div>
                  </td>
                </tr>
                <tr class="py-2">
                  <td>Minerals</td>
                  <td colspan="2" class="text-start"><div [innerHTML]="getProductAttrValue(selectedProduct, ['minerals_tags'])"></div></td>
                </tr>
                <tr class="py-2">
                  <td>Allergens</td>
                  <td colspan="2" class="text-start"><div [innerHTML]="getProductAttrValue(selectedProduct, ['allergens'])"></div></td>
                </tr>
                
                <tr class="py-2">
                  <td colspan="3" class="separator transparent"></td>
                </tr>

                <tr class="py-2">
                  <td class="w-25">Energy (100gr)</td>
                  <td class="w-25 text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.energy_100g', 'nutriments.energy_unit'])"></div></td>
                  <td rowspan="8" class="w-50 p-0">
                    <div class="h-100 w-100 pt-3 chart-container d-flex flex-column">
                      <div class="w-100 d-flex justify-content-end pe-3">
                        <button class="btn btn-sm btn-secondary" (click)="toggleSingleProductNutrimentsAbsRel()">{{(singleProductNutrimentsAbsRel==='ABS'?'%':'gr')}}</button>
                      </div>
                      <highcharts-chart
                        *ngIf="singleProductNutrimentsAbsRel==='ABS' && chartOptions.singleProductNutriments.built"
                        [Highcharts]="Highcharts"
                        [options]="chartOptions.singleProductNutriments.options"
                        style="width:100%; max-height:392px; height:100%; display:block;"
                      ></highcharts-chart>
                      <highcharts-chart
                        *ngIf="singleProductNutrimentsAbsRel==='REL' && chartOptions.singleProductNutrimentsPercent.built"
                        [Highcharts]="Highcharts"
                        [options]="chartOptions.singleProductNutrimentsPercent.options"
                        style="width:100%; max-height:300px; height:100%; display:block;"
                      ></highcharts-chart>
                    </div>
                  </td>
                </tr>
                <tr class="py-2">
                  <td>Fat (100gr)</td>
                  <td class="text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.fat_100g', 'nutriments.fat_unit'])"></div></td>
                </tr>
                <tr class="py-2">
                  <td>Saturated fat (100gr)</td>
                  <td class="text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.saturated-fat_100g', 'nutriments.saturated-fat_unit'])"></div></td>
                </tr>
                <tr class="py-2">
                  <td>Salt (100gr)</td>
                  <td class="text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.salt_100g', 'nutriments.salt_unit'])"></div></td>
                </tr>
                <tr class="py-2">
                  <td>Sodium (100gr)</td>
                  <td class="text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.sodium_100g', 'nutriments.sodium_unit'])"></div></td>
                </tr>
                <tr class="py-2">
                  <td>Sugars (100gr)</td>
                  <td class="text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.sugars_100g', 'nutriments.sugars_unit'])"></div></td>
                </tr>
                <tr class="py-2">
                  <td>Carbohydrates (100gr)</td>
                  <td class="text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.carbohydrates_100g', 'nutriments.carbohydrates_unit'])"></div></td>
                </tr>
                <tr class="py-2">
                  <td>Proteins (100gr)</td>
                  <td class="text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.proteins_100g', 'nutriments.proteins_unit'])"></div></td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          
          <!-- End No mobile -->

          <!-- Mobile -->
          <ng-container *ngIf="deviceType==='mobile'">
            <table class="table table-hover table-sm {{deviceType}}">
              <tbody>
                <tr class="title">
                  <td>Brand</td>
                </tr>
                <tr class="py-2">
                  <td class="text-start"><div class="capitalize-first" [innerHTML]="getProductAttrValue(selectedProduct, ['brands'])"></div></td>
                </tr>
                <tr class="title">
                  <td>URL</td>
                </tr>
                <tr class="py-2">
                  <td class="text-start">
                    <ng-container *ngIf="selectedProduct.link && selectedProduct.link.length>0">
                      <div style="width: 290px;" class="text-truncate">
                        <a [title]="selectedProduct.link"  [href]="selectedProduct.link" target="_blank">{{selectedProduct.link}}</a>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="!selectedProduct.link || selectedProduct.link.length===0">
                      <span>-</span>
                    </ng-container>
                  </td>
                </tr>
                <tr class="title">
                  <td>Origin</td>
                </tr>
                <tr class="py-2">
                  <td class="text-start"><div [innerHTML]="getProductAttrValue(selectedProduct, ['countries'])"></div></td>
                </tr>
                <tr class="title">
                  <td>Packaging</td>
                </tr>
                <tr class="py-2">
                  <td class="text-start"><div class="text-truncate" [innerHTML]="getProductAttrValue(selectedProduct, ['packaging'])"></div></td>
                </tr>

                <tr class="py-2">
                  <td colspan="3" class="separator"></td>
                </tr>

                <tr class="title">
                  <td>Fat</td>
                </tr>
                <tr>
                  <td><span [ngClass]="{'text-danger':selectedProduct.nutrient_levels?.fat==='high', 'text-warning':selectedProduct.nutrient_levels?.fat==='moderate', 'text-success':selectedProduct.nutrient_levels?.fat==='low'}">{{selectedProduct.nutrient_levels?.fat?capitalizeFirst(selectedProduct.nutrient_levels?.fat):'-'}}</span></td>
                </tr>
                <tr class="title">
                  <td>Satured fat</td>
                </tr>
                <tr class="py-2">
                  <td><span [ngClass]="{'text-danger':selectedProduct.nutrient_levels && selectedProduct.nutrient_levels['saturated-fat']==='high', 'text-warning':selectedProduct.nutrient_levels && selectedProduct.nutrient_levels['saturated-fat']==='moderate', 'text-success':selectedProduct.nutrient_levels && selectedProduct.nutrient_levels['saturated-fat']==='low'}">{{(selectedProduct.nutrient_levels && selectedProduct.nutrient_levels['saturated-fat'])?capitalizeFirst(selectedProduct.nutrient_levels['saturated-fat']):'-'}}</span></td>
                </tr>
                <tr class="title">
                  <td>Salt</td>
                </tr>
                <tr class="py-2">
                  <td><span [ngClass]="{'text-danger':selectedProduct.nutrient_levels?.salt==='high', 'text-warning':selectedProduct.nutrient_levels?.salt==='moderate', 'text-success':selectedProduct.nutrient_levels?.salt==='low'}">{{(selectedProduct.nutrient_levels?.salt)?capitalizeFirst(selectedProduct.nutrient_levels?.salt):'-'}}</span></td>
                </tr>
                <tr class="title">
                  <td>Sugars</td>
                </tr>
                <tr class="py-2">
                  <td><span [ngClass]="{'text-danger':selectedProduct.nutrient_levels?.sugars==='high', 'text-warning':selectedProduct.nutrient_levels?.sugars==='moderate', 'text-success':selectedProduct.nutrient_levels?.sugars==='low'}">{{(selectedProduct.nutrient_levels?.sugars)?capitalizeFirst(selectedProduct.nutrient_levels?.sugars):'-'}}</span></td>
                </tr>

                <ng-container *ngIf="selectedProduct.ingredients && selectedProduct.ingredients.length>0">
                  <tr class="py-2">
                    <td colspan="3" class="separator"></td>
                  </tr>
                  <tr class="title">
                    <td>Ingredients</td>
                  </tr>
                  <tr class="title">
                    <td class="text-start"><div [innerHTML]="getProductAttrValue(selectedProduct, ['ingredients'])"></div></td>
                  </tr>
                  <tr class="py-2">
                    <td class="p-0">
                      <div class="h-100 w-100 chart-container">
                        <highcharts-chart
                          *ngIf="chartOptions.singleProductIngredients.built"
                          [Highcharts]="Highcharts"
                          [options]="chartOptions.singleProductIngredients.options"
                          style="width:100%; max-height:392px; height:100%; display:block;"
                        ></highcharts-chart>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                
                <tr class="title">
                  <td>Minerals</td>
                </tr>
                <tr class="py-2">
                  <td class="text-start"><div [innerHTML]="getProductAttrValue(selectedProduct, ['minerals_tags'])"></div></td>
                </tr>

                <tr class="title">
                  <td>Allergens</td>
                </tr>
                <tr class="py-2">
                  <td class="text-start"><div [innerHTML]="getProductAttrValue(selectedProduct, ['allergens'])"></div></td>
                </tr>
                
                <tr class="py-2">
                  <td colspan="3" class="separator"></td>
                </tr>

                <tr class="title">
                  <td>Energy (100gr)</td>
                </tr>
                <tr>
                  <td class="text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.energy_100g', 'nutriments.energy_unit'])"></div></td>
                </tr>
                <tr class="py-2">
                  <td class="p-0">
                    <div class="h-100 w-100 pt-3 chart-container d-flex flex-column">
                      <div class="w-100 d-flex justify-content-end pe-3">
                        <button class="btn btn-sm btn-secondary" (click)="toggleSingleProductNutrimentsAbsRel()">{{(singleProductNutrimentsAbsRel==='ABS'?'%':'gr')}}</button>
                      </div>
                      <highcharts-chart
                        *ngIf="singleProductNutrimentsAbsRel==='ABS' && chartOptions.singleProductNutriments.built"
                        [Highcharts]="Highcharts"
                        [options]="chartOptions.singleProductNutriments.options"
                        style="width:100%; max-height:392px; height:100%; display:block;"
                      ></highcharts-chart>
                      <highcharts-chart
                        *ngIf="singleProductNutrimentsAbsRel==='REL' && chartOptions.singleProductNutrimentsPercent.built"
                        [Highcharts]="Highcharts"
                        [options]="chartOptions.singleProductNutrimentsPercent.options"
                        style="width:100%; max-height:300px; height:100%; display:block;"
                      ></highcharts-chart>
                    </div>
                  </td>
                </tr>

                <tr class="title">
                  <td>Fat (100gr)</td>
                </tr>
                <tr class="py-2">
                  <td class="text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.fat_100g', 'nutriments.fat_unit'])"></div></td>
                </tr>

                <tr class="title">
                  <td>Saturated fat (100gr)</td>
                </tr>
                <tr class="py-2">
                  <td class="text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.saturated-fat_100g', 'nutriments.saturated-fat_unit'])"></div></td>
                </tr>

                <tr class="title">
                  <td>Salt (100gr)</td>
                </tr>
                <tr class="py-2">
                  <td class="text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.salt_100g', 'nutriments.salt_unit'])"></div></td>
                </tr>

                <tr class="title">
                  <td>Sodium (100gr)</td>
                </tr>
                <tr class="py-2">
                  <td class="text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.sodium_100g', 'nutriments.sodium_unit'])"></div></td>
                </tr>

                <tr class="title">
                  <td>Sugars (100gr)</td>
                </tr>
                <tr class="py-2">
                  <td class="text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.sugars_100g', 'nutriments.sugars_unit'])"></div></td>
                </tr>

                <tr class="title">
                  <td>Carbohydrates (100gr)</td>
                </tr>
                <tr class="py-2">
                  <td class="text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.carbohydrates_100g', 'nutriments.carbohydrates_unit'])"></div></td>
                </tr>

                <tr class="title">
                  <td>Proteins (100gr)</td>
                </tr>
                <tr class="py-2">
                  <td class="text-end"><div [innerHTML]="getProductAttrValue(selectedProduct, ['nutriments.proteins_100g', 'nutriments.proteins_unit'])"></div></td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          <!-- End Mobile -->

        </ng-container>
      </div>
      <div class="modal-footer {{deviceType}}">
        <button class="btn btn-secondary" (click)="closeModal();selectedProduct=undefined;">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Comparator Modal -->
<div class="modal fade" tabindex="-1" id="comparatorModal" #comparatorModal>
  <div class="modal-dialog">
    <div class="modal-content {{deviceType}}">
      <div class="modal-header">
        <div class="d-flex justify-content-between align-items-center w-100">
          <h5 class="modal-title">{{selectedProducts.length}} products</h5>
          <i class="fas fa-close" (click)="closeModal();selectedProduct=undefined;"></i>
        </div>
      </div>
      <div class="modal-body" style="max-height: calc(100vh - 200px);">
        <div class="d-flex justify-content-end align-items-center w-100 mb-2">
          <button type="button" class="btn btn-sm btn-secondary" (click)="selectedProducts=[];closeModal()">Remove all</button>
        </div>

        <div class="table-wrapper">
          <table class="table table-sm table-hover table-striped-columns w-100">
            <thead>
              <tr>
                <th style="min-width:200px;z-index:1000;">&nbsp;</th>
                <ng-container *ngFor="let p of selectedProducts">
                  <th [title]="p.product_name" class="sticky-th-top">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="capitalize-first text-truncate product-name ps-1">
                        {{(p.product_name && p.product_name.length>0) ? truncateText(p.product_name, 25) : truncateText((p.brands || ''), 25)}}
                      </div>
                      <i class="fas fa-close ms-3 me-2 cursor-pointer" (click)="toggleCompare(p)"></i>
                    </div>
                  </th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Nutriscore', attributes:['nutriscore_grade'], tdClass: 'text-end'}"></ng-container>

              <ng-container [ngTemplateOutlet]="comparatorRow"></ng-container>

              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Brand', attributes:['brands']}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Stores', attributes:['stores'], tdClass: 'capitalize-first'}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Countries', attributes:['countries'], tdClass: 'capitalize-first'}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Quantity/units', attributes:['product_quantity', 'product_quantity_unit'], tdClass: 'text-end'}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Packaging', attributes:['packaging']}"></ng-container>
              
              <ng-container [ngTemplateOutlet]="comparatorRow"></ng-container>

              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Fat', attributes:['nutrient_levels.fat'], tdClass: 'text-end'}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Satured fat', attributes:['nutrient_levels.saturated-fat'], tdClass: 'text-end'}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Salt', attributes:['nutrient_levels.salt'], tdClass: 'text-end'}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Sugars', attributes:['nutrient_levels.sugars'], tdClass: 'text-end'}"></ng-container>

              <ng-container [ngTemplateOutlet]="comparatorRow"></ng-container>

              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Ingredients', attributes:['ingredients']}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Minerals', attributes:['minerals_tags']}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Allergens', attributes:['allergens']}"></ng-container>
              
              <ng-container [ngTemplateOutlet]="comparatorRow"></ng-container>

              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Energy (100gr)', attributes:['nutriments.energy_100g', 'nutriments.energy_unit'], tdClass: 'text-end'}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Fat (100gr)', attributes:['nutriments.fat_100g', 'nutriments.fat_unit'], tdClass: 'text-end'}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Saturated fat (100gr)', attributes:['nutriments.saturated-fat_100g', 'nutriments.saturated-fat_unit'], tdClass: 'text-end'}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Salt (100gr)', attributes:['nutriments.salt_100g', 'nutriments.salt_unit'], tdClass: 'text-end'}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Sodium (100gr)', attributes:['nutriments.sodium_100g', 'nutriments.sodium_unit'], tdClass: 'text-end'}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Sugars (100gr)', attributes:['nutriments.sugars_100g', 'nutriments.sugars_unit'], tdClass: 'text-end'}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Carbohydrates (100gr)', attributes:['nutriments.carbohydrates_100g', 'nutriments.carbohydrates_unit'], tdClass: 'text-end'}"></ng-container>
              <ng-container [ngTemplateOutlet]="comparatorRow" [ngTemplateOutletContext]="{label:'Proteins (100gr)', attributes:['nutriments.proteins_100g', 'nutriments.proteins_unit'], tdClass: 'text-end'}"></ng-container>
            </tbody>
          </table>
        </div>

        <div class="d-flex flex-column w-100 chart-container">
          <div class="w-100 d-flex justify-content-end pe-3 mt-3">
            <button class="btn btn-sm btn-secondary" (click)="toggleMultipleProductNutrimentsAbsRel()">{{(multipleProductNutrimentsAbsRel==='ABS'?'%':'gr')}}</button>
          </div>
          <highcharts-chart
            *ngIf="multipleProductNutrimentsAbsRel==='ABS' && chartOptions.multipleProductNutriments.built"
            [Highcharts]="Highcharts"
            [options]="chartOptions.multipleProductNutriments.options"
            style="width:100%; height:400px; display:block;"
          ></highcharts-chart>
          <highcharts-chart
            *ngIf="multipleProductNutrimentsAbsRel==='REL' && chartOptions.multipleProductNutrimentsPercent.built"
            [Highcharts]="Highcharts"
            [options]="chartOptions.multipleProductNutrimentsPercent.options"
            style="width:100%; height:400px; display:block;"
          ></highcharts-chart>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal();">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Comparator table row template -->
 <ng-template let-label="label" let-attributes="attributes" let-tdClass="tdClass" #comparatorRow>
    <tr>
      <ng-container *ngIf="!label || !attributes">
        <td class="header-like w-30"></td>
        <ng-container *ngFor="let p of selectedProducts; trackBy: trackByProductId">
          <td class="header-like px-2" style="width:'{{70/selectedProducts.length}}%'">
            <div class="text-truncate capitalize-first fw-bold w-100" [title]="capitalizeFirst((p.product_name || p.brands)+ ((p.brands && p.brands.length>0)?' ('+capitalizeFirst(p.brands)+')':''))" [innerHTML]="truncateText(capitalizeFirst(p.product_name || p.brands)+((p.brands!==(p.product_name || p.brands))?' ('+p.brands+')':''), 25)"></div>
          </td>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="label && attributes">
        <td class="w-30">
          {{label}}
        </td>
        <ng-container *ngFor="let p of selectedProducts; let idx = index; trackBy: trackByProductId">
          <td class="{{tdClass}} p-0" style="width:'{{70/selectedProducts.length}}%'">
            <!-- Ingredients chart -->
            <ng-container *ngIf="attributes.length===1 && attributes[0]==='ingredients' && (p.ingredients && p.ingredients.length>0)">
              <div class="d-flex w-100 justify-content-start align-items-start">
                <div class="text-truncate capitalize-first p-2 d-flex w-50" [innerHTML]="getProductAttrValue(p, attributes)"></div>
                <div class="h-100 w-50 comparation-ingredients-chart-container chart-container">
                    <highcharts-chart
                      *ngIf="chartOptions.multipleProductIngredients[idx] && chartOptions.multipleProductIngredients[idx].built"
                      [Highcharts]="Highcharts"
                      [options]="chartOptions.multipleProductIngredients[idx].options"
                      style="width:100%; max-height:392px; height:100%; display:block;"
                    ></highcharts-chart>
                  </div>
              </div>
            </ng-container>
            <!-- Default -->
            <ng-container *ngIf="!(attributes.length===1 && attributes[0]==='ingredients' && (p.ingredients && p.ingredients.length>0))">
              <div class="text-truncate capitalize-first p-2" [innerHTML]="getProductAttrValue(p, attributes)"></div>
            </ng-container>
          </td>
        </ng-container>
      </ng-container>
      
    </tr>
 </ng-template>